// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds: true;


// ---------------------------------------------------------------------------
// Color

$background-color: #fff;
$text-color: #444;

$accent-dark: #39354F; // Slightly darker Purple for title and visited links.
$accent-main: #626289; // Purple
$accent-light: #A6A6CE; // Pink

$grey-dark: $gray-800; // tag cloud
$grey-medium: $gray-500; //Headers
$grey-light: $gray-200 ; // Primary accent

// ---------------------------------------------------------------------------
// Typography


@font-face {
  font-family: 'kapra';
  src: url('../fonts/Kapra.otf');
}

@font-face {
  font-family: 'kapra-bold';
  src: url('../fonts/Kapra-Bold.otf');
}
@font-face {
  font-family: 'kapra-condensed';
  src: url('../fonts/Kapra-Condensed.otf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSans-Light.ttf');
}



$font-family-main: 'Open Sans', Verdana, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 24px;
//$font-family-title: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
//$font-family-title: 'Kapra', sans-serif;
$font-family-title: 'Abril Fatface', cursive;


$spacing-unit: $base-line-height;
